*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     transition: all 0.3s;
     font-family: 'Secular One', sans-serif;
}
.section{
     padding: 2rem 0 !important;
     height: 100vh;
}
.body{
     background: linear-gradient(-45deg, rgb(0, 33, 71), rgb(65, 0, 170), rgb(7, 166, 187), rgb(8, 67, 119));
     background-size: 300% 300%;
     animation: gradient 5s ease infinite;
     @keyframes gradient {
        0% {
             background-position: 0% 50%;
             text-shadow: 0 0 10px cyan;
        }
        50% {
             background-position: 100% 50%;
             text-shadow: 0 0 0px cyan;
        }
        100% {
             background-position: 0% 50%;
             text-shadow: 0 0 10px cyan;
        }
   }
}