.projectWrapper{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 1rem;
     height: 100% ;
     color: #fff;
     position: relative;
     gap: 2rem;
     .projectcssbtn{
          top: 2%;
          right: 2%;
          position: absolute;
       }
     .projectcards{
          width: 100%;
          min-height: 60vh;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 1.5rem;
          padding: 0 1rem;
          .projectcard{
               flex-grow: 0;
               display: flex;
               flex-direction: column;
               background: #2e2b2b5b;
               justify-content: center;
               padding: 1rem;
               border-radius: 10px;
               cursor: pointer;
               a{
                    color: #fff;
               }
               &:hover{
                    flex-grow: 1;
               }
          }
     }
}

@media screen and (max-width:425px) {
     .projectWrapper{
          .projectcards{
               height: 50vh;
               overflow-y: scroll;
               &::-webkit-scrollbar{
                    display: none;
               }
          }
     }
}
@media screen and (max-width:375px) {
     .projectWrapper{
          .projectcards{
               flex-wrap: nowrap;
               overflow-x: scroll;
               &::-webkit-scrollbar{
                    display: none;
               }
               .projectcard{
                    &:nth-child(3){
                         margin-left: 1.5rem;
                    }
               }
          }
     }
}
@media screen and (max-width:320px) {
     .projectWrapper{
          .projectcards{
               .projectcard{
                    &:nth-child(3){
                         margin-left: 5rem;
                    }
               }
          }
     }
}