.projectWrapper{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 1rem;
     min-height: 100vh ;
     color: #fff;
     position: relative;
     transform: translateY(400%);
     gap: 2rem;
     background: linear-gradient(-45deg, rgb(0, 33, 71), rgb(65, 0, 170), rgb(7, 166, 187), rgb(8, 67, 119));
     background-size: 300% 300%;
     animation: gradient 5s ease infinite;
     @keyframes gradient {
        0% {
             background-position: 0% 50%;
             text-shadow: 0 0 10px cyan;
        }
        50% {
             background-position: 100% 50%;
             text-shadow: 0 0 0px cyan;
        }
        100% {
             background-position: 0% 50%;
             text-shadow: 0 0 10px cyan;
        }
   }
    
     .projectcards{
          width: 100%;
          min-height: 60vh;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 1.5rem;
          padding: 0 1rem;
          .projectcard{
               flex-grow: 0;
               display: flex;
               flex-direction: column;
               background: #2e2b2b5b;
               justify-content: center;
               padding: 1rem;
               border-radius: 10px;
               cursor: pointer;
               a{
                    color: #fff;
               }
               &:hover{
                    flex-grow: 1;
               }
          }
     }
}

@media screen and (max-width:425px) {
     .projectWrapper{
          .projectcards{
               height: 50vh;
               overflow-y: scroll;
               &::-webkit-scrollbar{
                    display: none;
               }
          }
     }
}
@media screen and (max-width:375px) {
     .projectWrapper{
          .projectcards{
               flex-wrap: nowrap;
               overflow-x: scroll;
               &::-webkit-scrollbar{
                    display: none;
               }
               .projectcard{
                    &:nth-child(3){
                         margin-left: 1.5rem;
                    }
               }
          }
     }
}
@media screen and (max-width:320px) {
     .projectWrapper{
          .projectcards{
               .projectcard{
                    &:nth-child(3){
                         margin-left: 5rem;
                    }
               }
          }
     }
}