.contactWrapper{
     height: 10vh;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     background: rgb(52, 14, 155);
     transform: translateY(400vh);

     a{
          color: #fff;
     }

}